body {
	font-family: 'Open Sans', sans-serif;
	color: #201b1d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700; 
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}

.offer {	
	width: 580px;
}

.intro {
	margin-bottom: 37px;
	margin-top: 20px;
	width: 300px;
}

.logo {
	font-size: 15px;
}

.title {
	font-size: 28px;
}

.title span {
	font-size: 38px;
}

.header {
	background: rgb(77,191,254);
	background: -moz-linear-gradient(90deg, rgba(77,191,254,1) 4ebefe%, rgba(55,143,217,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(77,191,254,1) 4ebefe%, rgba(55,143,217,1) 100%);
	background: linear-gradient(90deg, rgba(77,191,254,1) 4ebefe%, rgba(55,143,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbffe",endColorstr="#378fd9",GradientType=1);
	padding-top: 100px; 
	padding-bottom: 147px;
	color: #fff;
}

.kruiz {
	margin: 36px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	font-family: 'Ubuntu', sans-serif;
	background: #ffd429;
	color: black;  
	display: block;
	width: 220px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.button:hover {
	background: #d9860e;
}

.section {
	margin: 108px;
	padding-bottom: 120px;
}

.skill-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.section-title {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;

}

.skill {
	width: 350px;
	background: url('../img/icon1.jpg') no-repeat top;
	padding-top: 100px;
	text-align: center;
}

.skill-one {
	background: url('../img/icon2.jpg') no-repeat top;
}

.skill-two {
	background: url('../img/icon3.jpg') no-repeat top;
}

.mail {
	background: #ecf3f8;
	padding-top: 107px;
	padding-bottom: 107px;
	text-align: center;
}

.input {
	width: 340px;
	border: #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	height: 50px;
	padding-left: 23px;
	margin: 0 auto 15px;
	display: block; 
}

.btn {
	border: 0;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: 343px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.section-title {
	padding-bottom: 65px;
}

.input {
	padding-bottom: 17px;
}

.kredits {
	text-align: center;
}

.footer {
	padding: 63px 0;
	background: #164d7a;
}


/*Reasponsiv*/


/* 922px - 1200px */
@media screen and (max-width: 1200px) {
	.conteiner {
		width: 960px;
	}
	.offer {
		 width: auto
	}
	p {
		 width: auto
	}
}

/* 768px - 922px */
@media screen and (max-width: 992px) {
	.conteiner {
		width: 720px;
	}
	.skills {
		flex-direction: column;
	}
	.kruiz {
	max-width: 550px; width:100%;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.conteiner {
		width: 540px;
	}
	.skills {
		flex-direction: column;
	}
	.kruiz {
	max-width: 550px; width:100%;
	}
}

/* 0 - 576px */
@media screen and (max-width: 576px) {
	.conteiner {
		width: 90%;
	}
	.skills {
		flex-direction: column;
	}
	.kruiz {
		width: 400px;
	}
	.intro {
		width: auto;
	}
	.offer {
		width: 100px;
	}
	body {
		overflow-x: hidden;
	}
}
